@import '../4_base/colors.scss';

#component_cover {  
  height: 100vh;
  min-height: 100%;
  width: 100%;
  position: relative;
  // z-index: 111;

  .img {
    width:100%;
    height: 100%;

    background-color: $back-second;

    .content .text {
        font-size: 122px;
        color: white;
        letter-spacing: 50px;
    }
  }
}