@import '../4_base/colors.scss';

footer {    
    // border-radius: 6px;
    
    margin-top: 5px;
    padding: 5px;
    color: white;
    background-color: $back-red;
    // background-color: #dc5b54;
    
    dl {
        margin: 0;
    }

    p {
        text-align: center;
        margin: 0;
    }
}
